@import "variable";
@import "iconfont";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// 
.btn-a {
    @include button-variant(#fff, $color-active, $color-active);
    padding: 2px 5px;
    font-size: 12px;
    background: linear-gradient(to bottom, #f7bc4c 0%, #f29b4c 100%);
    &:hover {
        background: linear-gradient(to bottom, darken(#f7bc4c, 10%) 0%, darken(#f29b4c, 10%) 100%);
    }
}

.btn-b {
    @include button-variant(#fff, $color-active, $color-active);
    padding: 5px 25px;
    font-size: 16px;
    background: linear-gradient(to bottom, #f7bc4c 0%, #f29b4c 100%);
    &:hover {
        background: linear-gradient(to bottom, darken(#f7bc4c, 10%) 0%, darken(#f29b4c, 10%) 100%);
    }
    .iconfont {
        margin-right: 10px;
    }
}

* {
    @include box-sizing(content-box);
}

*:before,
*:after {
    @include box-sizing(content-box);
}

body {
    background-color: $gray-lighter;
}

.container {
    width: 1000px;
}

.site-header {
    border-top: 4px solid $color-active;
    border-bottom: 1px solid $color-border-1;
    padding: 10px 0 10px 10px;
    line-height: 50px;
    background-color: #fff;
    .tel {
        color: #989999;
    }
}

.site-footer {
    background-color: #fff;
    box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin-top: 50px;
    &.site-footer-about {
        z-index: 1000;
        margin-top: 0;
        position: relative;
    }
    .vertical-text {
        width: 1em;
        font-size: 12px;
        margin-left: 5px;
        line-height: 1.2;
    }
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 1.8;
        font-size: 12px;
    }
}

.icon {
    &.icon-16 {
        width: 16px;
        height: 16px;
        background: url(../images/icon16.png) no-repeat;
        &.icon-16-shuxian {}
    }
}

.main-nav {
    background-color: #fff;
    .nav {
        > li {
            float: left;
            width: 14.285%;
            text-align: center;
            background: url(../images/bg01.png) no-repeat right center;
            &:last-child,
            &.last-child {
                background: none;
            }
            > a {
                border-bottom: 1px solid $color-border-1;
                color: $gray;
                font-size: 16px;
                &:hover {
                    background-color: transparent;
                    color: $color-active;
                }
            }
            &.active {
                > a {
                    color: $color-active;
                }
            }
        }
    }
}

.banner {
    background-color: #fff;
    padding-top: 10px;
    height: 500px;
    overflow: hidden;
    .banner-item {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            margin-left: -950px;
        }
    }
    &.banner-home {
        .banner-item {
            height: 500px;
        }
    }
    &.banner-about {
        height: 324px;
        .banner-item {
            height: 324px;
        }
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        width: 1000px;
        margin: 0 auto;
        left: 50%;
        margin-left: -500px;
        bottom: 50px;
        z-index: 1001;
        text-align: right;
        li {
            width: 10px;
            button {
                &:before {
                    color: #fff;
                    @include opacity(1);
                    font-size: 15px;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        color: $color-active;
                    }
                }
            }
        }
    }
}

.main-content {
    z-index: 999;
    position: relative;
    &.home {
        margin-top: -90px;
    }
    .top-bg {
        background: url(../images/bg02.png);
        height: 90px;
        position: absolute;
        width: 100%;
    }
    .news {
        position: relative;
        z-index: 1000;
        line-height: 30px;
        padding: 10px 0;
        color: #fff;
        strong {
            float: left;
            color: #fff;
            margin-top: -1px;
            background: url(../images/bg03.png) no-repeat left center;
            padding-left: 30px;
        }
        ul {
            list-style: none;
            position: relative;
            padding: 0;
            margin: 0;
            overflow-y: hidden;
            height: 30px;
            li {
                list-style: none;
                position: relative;
                transition: all 0.5s;
                font-size: 12px;
            }
        }
    }
    .col-block {
        > .col-pack {
            padding: 15px;
            padding-bottom: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
            margin: 0 6px;
        }
        &.first-child,
        &:first-child {
            > .col-pack {
                margin-left: 0;
            }
        }
        &.last-child,
        &:last-child {
            > .col-pack {
                margin-right: 0;
            }
        }
        h5 {
            font-size: 16px;
            font-weight: bold;
            color: $color-active;
            margin-top: 5px;
        }
        .title-pic-wrap {
            margin-bottom: 5px;
        }
        ul {
            margin-left: 0;
            padding-left: 0;
            font-size: 12px;
            list-style: none;
            li {
                line-height: 1.8;
                a {
                    color: #333;
                    text-decoration: none;
                    &:hover {
                        color: $color-active-article;
                    }
                }
            }
            &.with-border {
                height: 249px;
                overflow: hidden;
                li {
                    white-space: nowrap;
                    line-height: 33px;
                    border-bottom: 1px dotted $color-border-1;
                }
            }
        }
    }
    &.main-content-about {
        .title-head {
            height: 64px;
            background: url(../images/bg04.png);
            margin-top: -64px;
            h1 {
                font-size: 24px;
                font-weight: normal;
                img {
                    vertical-align: text-bottom;
                    margin-right: 5px;
                    margin-left: 10px;
                }
            }
            .breadcrumb {
                background-color: transparent;
                margin-top: 15px;
                margin-bottom: 0px;
                font-size: 12px;
                a {
                    color: #333;
                    text-decoration: none;
                    &:hover,
                    &.current {
                        color: $color-active;
                    }
                }
            }
        }
        .row-shadow {
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        }
        .row-about {
            background-color: #fff;
        }
        .col-side {
            width: 222px;
            border-right: 1px solid $color-border-1;
            padding-bottom: 30px;
            .nav {
                > li {
                    margin: 0;
                    > a {
                        color: #333;
                        padding-left: 45px;
                        padding-right: 40px;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid $color-border-1;
                        background-image: none;
                        &:hover {
                            color: #fff;
                            // background: linear-gradient(to right, #f29a4c 0%,#f9c54c 100%); /* W3C */
                            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29a4c', endColorstr='#f9c54c',GradientType=1 ); /* IE6-9 */
                            background: url(../images/bg05.png) repeat-y center center;
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            // background: linear-gradient(to right, #f29a4c 0%,#f9c54c 100%); /* W3C */
                            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29a4c', endColorstr='#f9c54c',GradientType=1 ); /* IE6-9 */
                            background: url(../images/bg05.png) repeat-y center center;
                        }
                    }
                }
            }
            .side-title {
                h2 {
                    background: url(../images/bg06.png) repeat-x left center;
                    line-height: 60px;
                    color: $color-active;
                    font-size: 18px;
                    padding-left: 20px;
                    .iconfont {
                        margin-right: 5px;
                    }
                }
            }
            .side-dl {
                &.dl-horizontal {
                    dt {
                        width: 65px;
                        font-weight: normal;
                        margin-bottom: 5px;
                        float: left;
                        clear: left;
                        text-align: right;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    dd {
                        margin-left: 70px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .col-main {
            width: 777px;
            > .col-pack {
                padding: 42px 40px 60px 50px;
            }
            .article {
                h3 {
                    font-size: 18px;
                    color: $color-title-article;
                }
            }
            .article-dl {
                margin-top: 80px;
                dt {
                    padding-top: 20px;
                    width: 65px;
                    font-weight: normal;
                    margin-bottom: 5px;
                    float: left;
                    clear: left;
                    text-align: right;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                dd {
                    padding-top: 20px;
                }
            }
            .wall {
                background-color: #faf4ee;
                padding: 20px;
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
            }
            .play-video {
                margin-bottom: 50px;
            }
            .media {
                border-bottom: 1px solid $color-border-1;
                padding-bottom: 30px;
                padding-top: 30px;
                .media-left {
                    position: relative;
                    .icon-video {
                        width: 47px;
                        height: 48px;
                        background: url(../images/pic14.png) no-repeat;
                        position: absolute;
                        left: 50%;
                        margin-left: -24px;
                        top: 50%;
                        margin-top: -24px;
                        z-index: 1;
                        cursor: pointer;
                    }
                    &:hover {
                        .icon-video {
                            background-image: url(../images/pic15.png);
                        }
                    }
                }
                .media-body {
                    .media-heading {
                        font-size: 16px;
                    }
                    .date {
                        font-size: 11px;
                        color: #626262;
                        font-weight: Arial;
                    }
                    p {
                        font-size: 12px;
                        color: #555555;
                    }
                }
            }
            .pagination {
                font-size: 12px;
                input.to {
                    width: 2em;
                }
                > li {
                    &.no-border {
                        > a {
                            border-color: transparent;
                            background-color: transparent;
                        }
                    }
                    &.jump {
                        color: #999;
                        padding-top: 3px;
                        input {
                            height: 28px;
                            border: 1px solid $color-border-1;
                            padding: 0 3px;
                            margin: 0 4px;
                        }
                        button {
                            margin: 0 4px;
                        }
                    }
                    > a {
                        color: #333;
                        border-color: $color-border-1;
                    }
                    &.active {
                        > a {
                            background-color: #f08300;
                            color: #fff;
                        }
                    }
                }
            }
            &.col-main-zhidu {
                p {
                    line-height: 2;
                    a {
                        color: #333;
                        text-decoration: none;
                        &:hover {
                            color: $color-active-article;
                        }
                        .glyphicon {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .box-tongzhigonggao {
            width: 331px;
            height: 204px;
            background: url(../images/bg07.jpg) no-repeat;
            margin-top: 20px;
            position: relative;
            &:last-child {
                margin-left: 20px;
            }
            &.box-tongzhigonggao-1 {
                background-image: url(../images/bg07.jpg)
            }
            &.box-tongzhigonggao-2 {
                background-image: url(../images/bg08.jpg)
            }
            &.box-tongzhigonggao-3 {
                background-image: url(../images/bg09.jpg)
            }
            &.box-tongzhigonggao-4 {
                background-image: url(../images/bg10.jpg)
            }
            .mask {
                background-color: rgba(238, 120, 0, 0.6);
                position: absolute;
                width: 30px;
                height: 30px;
                right: 15px;
                top: 15px;
                z-index: 1;
                transition: all 0.3s;
            }
            &:hover,
            &.active {
                .mask {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: rgba(111, 56, 0, 0.6);
                }
                .list-unstyled {
                    height: 151px;
                    width: 301px;
                    li {
                        margin-left: 0px;
                    }
                }
                h3 {
                    color: #fff;
                    text-shadow: none;
                    margin-bottom: 5px;
                }
            }
            h3 {
                font-weight: normal;
                font-size: 18px;
                margin-left: 15px;
                text-shadow: 1px 0 1px rgba(255, 255, 255, 0.6), 0 1px 1px rgba(255, 255, 255, 0.6), 0 -1px 1px rgba(255, 255, 255, 0.6), -1px 0 1px rgba(255, 255, 255, 0.6);
                position: relative;
                z-index: 2;
                transition: all 0.3s;
            }
            .list-unstyled {
                position: relative;
                z-index: 2;
                margin: 15px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
                overflow: hidden;
                transition: all 0.3s;
                height: 0px;
                li {
                    &:first-child {
                        border-top: 1px solid #fff;
                        padding-top: 5px;
                    }
                    margin-top: 8px;
                    margin-left: 100%;
                    transition: all 0.3s;
                    a {
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            color: $color-active;
                        }
                    }
                }
            }
            .iconfont-plus {
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #fff;
                margin-right: 15px;
                text-shadow: none;
                margin-top: -5px;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
    .article-tongzhi {
        li {
            border-bottom: 1px dotted $color-border-1;
            line-height: 40px;
            cursor: pointer;
            a {
                color: #333;
                text-decoration: none;
            }
            p {
                display: none;
                font-size: 12px;
            }
            .date {
                color: #999;
            }
            &:hover {
                a {
                    color: $color-active;
                }
                p {
                    line-height: 1.8;
                    display: block;
                    color: #999;
                    padding-left: 15px;
                }
            }
        }
    }
    .article-detail {
        .title {
            background: transparent url('../images/bg11.png') repeat-x left bottom;
            padding-bottom: 30px;
            margin-bottom: 20px;
            h1 {
                margin-top: 0;
                font-size: 18px;
            }
            .date {
                color: #999;
                font-size: 12px;
            }
        }
        .body {
            p {
                line-height: 2;
                margin: 20px 0;
            }
        }
    }
    .pic-news-wrap {
        margin: 0 -15px;
    }
    .pic-news {
        margin-bottom: 20px;
        .col-pack {
            margin: 0 15px;
            border: 1px solid $color-border-1;
            border-radius: 3px;
            background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
            padding: 15px;
            /* W3C */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
            .header {
                margin-bottom: 10px;
            }
            .footer {
                margin-top: 10px;
                .date {
                    color: #666;
                }
            }
        }
    }
    &.main-content-zhuanxiangjijin {
        .row-zhuanxiangjijin-wrap {
            padding-bottom: 30px;
        }
        .row-about {
            .col-pack {
                padding: 0 45px;
            }
        }
        .title-1 {
            background: transparent url('../images/bg11.png') repeat-x left bottom;
            padding-bottom: 20px;
            padding-top: 20px;
            margin-bottom: 20px;
            h1 {
                font-size: 20px;
                font-weight: normal;
            }
            a.more {
                text-decoration: none;
                color: #333;
                font-size: 12px;
                &:hover {
                    color: $color-active;
                }
            }
        }
        .col-p20 {
            width: 20%;
            a {
                color: #333;
                text-decoration: none;
                p {
                    margin: 10px 0;
                }
                &:hover {
                    color: $color-active;
                }
            }
            > .col-pack {
                padding: 0 6px;
            }
        }
        .row-zhuanxiangjijin {
            margin: 0 -6px;
        }
    }
    .row-pic-list {
        .col-xs-3 {
            margin-bottom: 10px;
            > .col-pack {
                padding: 0 5px;
            }
            a {
                color: #333;
                text-decoration: none;
                p {
                    margin: 10px 0;
                }
                &:hover {
                    color: $color-active;
                }
            }
        }
    }
    .table-wrap {
        .table-header {
            background-color: #f1f1f1;
            color: #ca813d;
            font-size: 18px;
            padding: 0 30px;
            line-height: 50px;
            span {
                font-size: 12px;
            }
        }
        .table-body {
            border: 1px solid $color-border-1;
        }
        .table-scroll-wrap,
        .table-header-wrap {
            padding: 0 30px;
            .table {
                margin-bottom: 0;
                margin-top: 10px;
            }
        }
    }
    .table-juanzeng {
        thead {
            tr {
                th {
                    text-align: center;
                    border-bottom: none;
                    &.from {
                        text-align: left;
                    }
                }
            }
        }
        tbody {
            tr {
                padding: 0 30px;
                &.first {
                    td {
                        border-top: 1px solid $color-border-1;
                    }
                }
                td {
                    font-size: 12px;
                    text-align: center;
                    border-top: 0px;
                    border-bottom: 1px dotted $color-border-1;
                    &.from {
                        text-align: left;
                    }
                }
            }
        }
    }
    .article-juanzeng {
        background-color: #fff;
        padding-bottom: 50px;
        .col-pack {
            padding: 0 40px;
            background: url(../images/bg12.png) no-repeat 90% 80px;
        }
        h1 {
            font-size: 18px;
            color: #f18800;
            font-weight: bold;
        }
        h2 {
            font-size: 18px;
            color: #84ac09;
            font-weight: bold;
            border-bottom: 2px solid #cccccc;
            padding-bottom: 10px;
            margin-right: 330px;
            strong {
                border-bottom: 4px solid #84ac09;
                padding-bottom: 8px;
            }
        }
    }
    .row-xiazai {
        background-color: #fff;
        padding-bottom: 50px;
        padding-top: 30px;
        .col-pack {
            padding: 0 40px;
        }
    }
}

.pagination {
    font-size: 12px;
    input.to {
        width: 2em;
    }
    > li {
        &.no-border {
            > a {
                border-color: transparent;
                background-color: transparent;
            }
        }
        &.jump {
            color: #999;
            padding-top: 3px;
            input {
                height: 28px;
                border: 1px solid $color-border-1;
                padding: 0 3px;
                margin: 0 4px;
            }
            button {
                margin: 0 4px;
            }
        }
        > a {
            color: #333;
            border-color: $color-border-1 !important;
        }
        &.active {
            > a {
                background-color: #f08300 !important;
                color: #fff;
            }
        }
    }
}
